@mixin box {
  background-color: $white;
  padding: $padbox;
  border-radius: $borderradius;
  box-shadow: $boxshadow;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: flex-start;
  flex-direction: column;
}
@mixin table-border {
  border: 1px solid #ddd;
}
.country {
  text-transform: capitalize;
  .container {
    .country-information {
      @include box;
      .flag {
        // background-color: red;
        display: flex;
        align-items: center;
        @include table-border;
        width: 100%;
        padding: 0.5rem 1rem;
        img {
          height: 7.5rem;
          width: 11rem;
          margin-right: 1rem;
          border: 3px solid #ddd;
          border-radius: 0.3rem;
        }
        div {
          padding: $padbox;
          border-left: 1px solid #ddd;
          h1 {
            font-size: 1.7rem;
          }
          h2 {
          }
        }
      }
      table {
        border-collapse: collapse;
        @include table-border;
        width: 100%;
      }
      thead {
        tr {
          td {
            padding: 0.5rem 1rem;
            font-weight: 600;
            display: flex;
            align-items: center;
            font-size: 1.7rem;
            color: #ff9800;
            svg {
              margin-right: 0.5rem;
            }
          }
        }
      }
      tbody {
        tr {
          td {
            @include table-border;
            padding: 0.5rem 1rem;
            vertical-align: baseline;
            a {
              color: #303;
              cursor: pointer;
              text-decoration: none;
              &:hover {
                color: red;
              }
            }
            &:first-child {
              background-color: #f5f5f5;
              width: 33%;
            }
            details {
              summary {
                cursor: pointer;
              }
              ul {
                list-style: none;
                li {
                  // border-bottom: 1px solid #ddd;
                  width: 100%;
                  display: flex;
                  span {
                    padding: 0.2rem 0.5rem;
                    width: 70%;
                    border: 1px solid #ddd;
                    &:first-child {
                      width: 30%;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
