@mixin box {
  padding: $padbox;
  border-radius: $borderradius;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: flex-start;
  flex-direction: column;
}

.country {
  text-transform: capitalize;
  .container {
    border-radius: 0.5rem;
    .country-information {
      .flag {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0.5rem 1rem;
        gap: 1rem;
        img {
          height: 7.5rem;
          width: 11rem;

          border-radius: 0.3rem;
        }
        div {
          padding: $padbox;
          h1 {
            font-size: 1.7rem;
          }
          h2 {
          }
        }
      }
      table {
        border-collapse: collapse;
        width: 100%;
      }
      thead {
        tr {
          td {
            padding: 0.5rem 1rem;
            font-weight: 600;
            display: flex;
            align-items: center;
            font-size: 1.7rem;
            gap: 0.5rem;
          }
        }
      }
      tbody {
        tr {
          td {
            padding: 0.5rem 1rem;
            vertical-align: baseline;
            a {
              cursor: pointer;
              text-decoration: none;
            }
            &:first-child {
              width: 33%;
            }
            details {
              summary {
                cursor: pointer;
              }
              ul {
                list-style: none;
                li {
                  width: 100%;
                  display: flex;
                  span {
                    padding: 0.2rem 0.5rem;
                    width: 70%;
                    &:first-child {
                      width: 30%;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// light mode
.country-light {
  .container {
    .country-information {
      box-shadow: 0 0 10px #aaa5;
      background-color: #fff;
      .flag {
        border: 1px solid #ddd;
        img {
          border: 3px solid #ddd;
        }
        div {
          border-left: 1px solid #ddd;
        }
      }
      table {
        border: 1px solid #ddd;
      }
      thead {
        tr {
          td {
            color: #ff9800;
          }
        }
      }
      tbody {
        tr {
          td {
            border: 1px solid #ddd;
            a {
              color: #303;
              &:hover {
                color: red;
              }
            }
            &:first-child {
              background-color: #f5f5f5;
            }
            details {
              ul {
                li {
                  span {
                    border: 1px solid #ddd;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// dark mode
@mixin borderDark {
  border: 1px solid $darkModeColorDefault;
}
.country-dark {
  background-color: $darkModeColorDefault;
  color: $lightModeColorDark;
  .container {
    box-shadow: 0 0 20px $darkModeColorMedium;
    background-color: $darkModeColorDark;
    .country-information {
      .flag {
        @include borderDark;
        img {
          @include borderDark;
        }
        div {
          // @include borderDark;
        }
      }
      table {
        border-collapse: collapse;
        @include borderDark;

        thead {
          tr {
            td {
              color: $svgColorLight;
            }
          }
        }
        tbody {
          tr {
            td {
              @include borderDark;
              a {
                color: $lightModeColorDark;
                &:hover {
                  color: $svgColorLight;
                }
              }
              details {
                ul {
                  li {
                    span {
                      @include borderDark;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
