header {
  box-shadow: 0 0 10px 10px #ddd5;
  height: 9vh;
  display: flex;
  align-content: center;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      gap: 1rem;
      svg {
        font-size: 2.5rem;
      }
      h2 {
        font-size: 2rem;
      }
    }
    .menu {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.7rem;
      text-transform: capitalize;
      a {
        cursor: pointer;
      }
      span {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        text-decoration: none;
        border-radius: 0.3rem;
        padding: 0 0.5rem;
        svg {
          cursor: pointer;
        }
      }
      button.btn-toggle {
        border: 0;
        cursor: pointer;
        padding: 0.5rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          font-size: 1.3rem;
        }
      }
    }
  }
}

// light mode
.header-light {
  background-color: $lightModeColorDark;
  .container {
    a {
      svg {
        color: $svgColorLight;
      }
      h2 {
        color: $darkModeColorDefault;
      }
    }
    .menu {
      a {
        color: $darkModeColorDefault;
      }
      span {
        background-color: $lightModeColorLight;
        color: $darkModeColorMedium;
        svg {
          color: #333;
        }
      }
      button.btn-toggle {
        background-color: $darkModeColorDefault;
        color: $lightModeColorDark;
      }
    }
  }
}

// dark mode
.header-dark {
  background-color: $darkModeColorDark;
  .container {
    a {
      svg {
        color: $svgColorDark;
      }

      h2 {
        color: $darkModeColorLight;
      }
    }
    .menu {
      a {
        color: $darkModeColorLight;
      }
      span {
        background-color: #eee;
      }
      button.btn-toggle {
        background-color: $lightModeColorDark;
        color: $darkModeColorDefault;
      }
    }
  }
}
