.home {
  .container {
    h2 {
      padding: 1rem 0;
    }
    table {
      padding: 0.3rem 0.5rem;
      border-collapse: collapse;
      width: 100%;
      thead {
        tr {
          th {
            padding: 0.3rem 0.5rem;
            text-align: left;
            &:first-child {
              border-radius: 0.3rem 0 0 0;
            }
            &:last-child {
              border-radius: 0 0.3rem 0 0;
            }
          }
        }
      }
      tbody {
        tr {
          td {
            padding: 0.3rem 0.5rem;
            width: max-content;
            white-space: nowrap;
            img {
              max-width: 4rem;
              max-height: 4rem;
            }
            a {
              text-decoration: none;
              svg {
                width: 1.5rem;
                height: 1.5rem;
              }
            }
          }
        }
      }
    }
  }
}

// light mode
.home-light {
  background-color: $lightModeColorLight;
  .container {
    h2 {
      color: $darkModeColorMedium;
    }
    table {
      box-shadow: 0 0 10px 0px $lightModeColorMedium;
      color: $darkModeColorDefault;
      thead {
        background-color: $lightModeColorMedium;
        tr {
          th {
            color: $darkModeColorDefault;
          }
        }
      }
      tbody {
        tr {
          background-color: #fff;
          &:nth-child(even) {
            background-color: $lightModeColorLight;
          }
          td {
            a {
              color: $darkModeColorDefault;
            }
          }
        }
      }
    }
  }
}

// dark mode
.home-dark {
  background-color: $darkModeColorDefault; //
  .container {
    color: $lightModeColorLight;
    table {
      color: $lightModeColorDark;
      box-shadow: 0 0 10px 0px $darkModeColorDark; //
      thead {
        background-color: $darkModeColorDark; //
        tr {
          th {
            color: $darkModeColorLight;
          }
        }
      }
      tbody {
        tr {
          // background-color: $darkModeColorMedium;
          &:nth-child(even) {
            background-color: $darkModeColorMedium;
            // color: $lightModeColorDark;
          }
          td {
            a {
              color: $lightModeColorDark;
            }
          }
        }
      }
    }
  }
}
