* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $CairoRegular;
}
body {
  background-color: $gray;
  color: $red;
  font-size: $fontsize;
}

.container {
  margin: 0 auto;
  width: 70%;
  // border: 1px solid;
}
